<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo"><img src="assets/MCDC.png"></div>

    <button class="navbar-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
      &#9776;
    </button>

    <nav class="navbar-links" [class.open]="menuOpen">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
      <a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Services</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
    </nav>
  </div>
</header>
